/* Animasi Teks Berjalan */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  
  
}

.marquee-text {
  display: inline-block;
  animation: marquee 65s linear infinite; /* Sesuaikan durasi dan kecepatan animasi */
}

@keyframes marquee {
  /* 0% {
    transform: translateX(100%);
  } */
  100% {
    transform: translateX(-100%);
  }
}
