.highlight-container {
  position: relative;
  overflow: hidden;
  /* display: inline-block; */
  /* transform: translateY(9px); */
  padding: 0 3px;
  /* color: black; */
}

.highlight-text {
    white-space: nowrap;
  /* margin: 3px; */
  position: relative;
  z-index: 99;
}

.highlight-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 50%, yellow 50%);
  background-size: 200% 100%;
  animation: highlight 2s ease-out forwards; /* changed */
  
}

.dark .highlight-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200% 100%;
    animation: highlight 2s ease-out forwards; /* changed */
  }
  
  
@keyframes highlight {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: calc(100%) 0; /* adjusted */
  }
}
